/* External CSS */

/* body is a CSS Selector */
/* {} idicates a CSS Declaration */
body {
  /* property:value; is a CSS Rule */
    background-color: lightcoral;
}

ul {
    display: flex;
    justify-content: end;
    gap: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* id-name Selector */
#home {

}

/* class-name Selector */
.listItem {

}
